<button class='btn btn-info btn-lg bottom-flat'>New Post</button>
<div class='well'>
<% if @post.errors.any? %>
    <p class='alert alert-danger'>Errors</p>
    <% @post.errors.full_messages.each do |e| %>
        <p class='text-danger'><%= e %></p>
    <% end %>
<% end %>
<%= form_for @post, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
    <%= f.text_field :title , class: 'form-control', placeholder: 'Title' %>
    <br />
    <%= f.text_area :content, size: "60x12", class: 'form-control', placeholder: 'Content'   %>
    <br />
    <input type="text" name="categories" class="form-control" placeholder="Add categories separated by space" />
    <br />
    <input type="text" name="tags" class="form-control" placeholder="Add tags separated by space" />
    <br />
    <%= f.submit "Create", class: "btn btn-primary"%>

<% end %>
</div>

<button class='btn btn-info btn-lg bottom-flat'>Preview</button>
<div class='well'>
    <div class='preview'></div>

</div>
