
<% content_for :container_class do %>blog-container <% end %>
<div class="well">
    <% @posts.each do |post| %>
    <div class="post-block"> 
        <div class="post-block-left col-md-2">
            <img src="<%= gravatar_image(post.author.email) %>" />
            <div class="fullname">
                <%= link_to post.author.available_name, profile_path(username: post.author.username) %></div>
            <div class="post-date"> <%= post.created_at.strftime("%dth %b, %Y") %></div>
            <div class="post-comment-count">  <i class="fa fa-comments fa-2x ">&nbsp; <%= post.comments.count %></i> </div>

        </div>
        <div class="post-block-right col-lg-10">
            <%= post.title %>
        </div>
        <div class="clearfix"></div>
    </div>
    <% end %>
</div>
