<% content_for :container_class do %>show-blog-container<% end %>
<% content_for :extra_title do %>| <%= @post.title %><% end %>
<div class='well well-sm top-rounded'>
    <h2> <%= @post.title %></h2>
</div>

<div id='post-content' class='well' style='min-height: 300px; '> 
    <div id='show-post-loader' ></div>
</div>
<div class='hide' id='post-content-markdown'>
    <%= @post.content %>
</div>
<button class='btn btn-info btn-lg bottom-flat' >Post a comment</button>
<div class='well'>
<% if @comment.errors.any? %>
    <p class='alert alert-danger'>Errors</p>
    <% @comment.errors.full_messages.each do |e| %>
        <p class='text-danger'><%= e %></p>
    <% end %>
<% end %>
    <%= form_for @comment, url: '', html: {class: 'comment_form'} do |f| %>
    
    <div class='medium-sized'>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    <br />

    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
    </div>
    <br />

    <%= f.text_area :comment, size: '70x6', class: 'form-control', placeholder: 'Comment' %>
    <br />
 <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LfhK-cSAAAAAA5H-Gg-XnYDNBCw5MSMy7wUdN4Y">
  </script>
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LfhK-cSAAAAAA5H-Gg-XnYDNBCw5MSMy7wUdN4Y"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field"
         value="manual_challenge">
  </noscript>

    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>
<button class='btn btn-info btn-lg bottom-flat'>Comments</button>
<% for comment in @post.comments %>
    <div class='well'>
        <%= comment.comment %>
        <h6> By <%= comment.name %> at <%= comment.created_at %>.</h6>
    </div>
<% end %>
<% if @post.comments.count == 0 %>
    <div class='well'>
     No comments for this post !
 </div>
<% end %>

