<!DOCTYPE html>
<html>
<head>
    <title>Railsfab - Rails Development Company <%= yield :extra_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>
    <div class='container <%= yield :container_class %>'>
<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Create Post", :new_post %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
            <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
            <li>
                <%= link_to "Login", new_user_session_path  %>
            </li>
        <% end %>
    </ul>
    <h3 >Railsfab</h3>
</div>


<div style='margin-top: 45px;'>
<% if notice %>
<div class='well well-sm text-success'>
    <%= notice %>
</div>
<% elsif alert %>
<div class='well well-sm text-danger'>
    <%= alert %>
</div>
<% end %>
</div>



<%= yield %>

</div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
