<!DOCTYPE html>
<html>
<head>
    <title>Railsfab - Rails Development Company <%= yield :extra_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>
    <div class='container <%= yield :container_class %>'>
<div class="header">
    <ul class="nav nav-pills pull-right">
        <li id="nav-link-home" class="active"><a href="/">Home</a></li>
        <li id="nav-link-ourwork"><%= link_to "Our Work", ourwork_path %></li>
        <li id="nav-link-contact"><%= link_to "Contact", contactus_path %></li>
        <li id="nav-link-blog"><%= link_to "Blog", blog_path %></li>
        <% if user_signed_in? %>
            <li id="nav-link-new-post"><%= link_to "New Post", new_post_path %> </li>
            <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>


        <% end %>
    </ul>
    <h3 >Railsfab</h3>
</div>


<div style='margin-top: 45px;'>
<% if notice %>
<div class='well well-sm text-success'>
    <%= notice %>
</div>
<% elsif alert %>
<div class='well well-sm text-danger'>
    <%= alert %>
</div>
<% end %>
</div>



<%= yield %>

</div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
