<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><%= link_to "Create Post", :new_post %></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
            <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
        <% else %>
            <li>
                <%= link_to "Login", new_user_session_path  %>
            </li>
        <% end %>
    </ul>
    <h3 >Project name</h3>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</div>
</body>
</html>
